{% load static %}
<html>
<head>
    <title>{{college_name}}</title>
</head>

<body>
    <img style="margin-left: 650px; height:200px;width:200px" src="{% static "images/total_teachers_money.png" %}" alt="image not found">
    <div style = "padding: 4px;margin-top: 60px;margin-left: 550px;background-color: lightblue;height: 200px;width:400px;border:2px solid green"} class="container">
        <p style = "font-size: 0.70cm ;color: red">We had totally paid 50 crores in salaries to our teachers. Highest paid by an individual school in our whole country<p>
    </div>
</body>
</html>