{% load static %}
<html>
<head>
    <title>{{college_name}}</title>
</head>

<body style="background-image: linear-gradient(to right, #00b09b, #96c93d);">
    <img style="margin-left: 650px; height:200px;width:200px" src="{% static "images/total_amount.png" %}" alt="image not found">
    <div style = "padding: 4px;margin-top: 60px;margin-left: 550px;background-color: lightblue;height: 200px;width:400px;border:2px solid green"} class="container">
        <p style = "font-size: 0.70cm ;color: red">These total amount earned by the school in these financial year is around 400 crores. These is totally an 400% increase when compared  with last year<p>
    </div>
</body>
</html>